{% extends 'app1/base.html' %}

{% block title %}
Добавить участника
{% endblock %}


{% block content %}
 <div class="features">
      <h4>Добавить участника</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.post }}<br>
            {{ form.role }}<br>
            {{ form.history }}<br>
            {{ form.image }}<br>
            {{ form.photo1 }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить участника</button>
        </form>
    </div>
{% endblock %}

<style>


</style>