{% extends 'app1/base.html' %}

{% block title %}
Изменить содержание истории участника
{% endblock %}


{% block content %}
    <div class="features">
      <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.post }}<br>
            {{ form.role }}<br>
            {{ form.history}}<br>
            {{ form.image }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить статью</button>
        </form>
    </div>
{% endblock %}

